<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdcu01.baidupcs.com/file/c25d6a0fce30f4d78dc6ba3412ec394e?bkt=p3-00005a411612a327fee8c723c8a965d2171c&fid=2109066-250528-95301774222663&time=1534484827&sign=FDTAXGERLQBHSKW-DCb740ccc5511e5e8fedcff06b081203-MT3%2FUymPKLXbENekkQFoAqM93U8%3D&to=65&size=46850705&sta_dx=46850705&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CQingdao%2CAnywhere%2C%2Chubei%2Ccnc&resv0=cdnback&resv1=0&vuk=2109066&iv=0&htype=&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=00005a411612a327fee8c723c8a965d2171c&sl=76480590&expires=8h&rt=sh&r=294741593&mlogid=5301285290257832991&vbdid=1589703824&fin=91%E5%A4%A9%E5%A4%A9%E6%AD%A6%E6%B1%89%E9%BA%BB%E5%B0%86.ipa&fn=91%E5%A4%A9%E5%A4%A9%E6%AD%A6%E6%B1%89%E9%BA%BB%E5%B0%86.ipa&rtype=1&dp-logid=5301285290257832991&dp-callid=0.1.1&hps=1&tsl=80&csl=80&csign=pC%2BE0TsCIDxPhLyO0c6%2BccFgq3w%3D&so=0&ut=6&uter=4&serv=0&uc=1694538685&ti=26fa64dbec288224b4fde3bf9964a923745018a48f714afa305a5e1275657320&by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>下载时大图(非必填)</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>下载时小图(非必填)</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ttwuhan.com</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>App(副标题)</string>
				<key>title</key>
				<string>91天天武汉麻将</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
